#========================================
# General settings
#========================================
logging:
  level:
    root: INFO
openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'
spring:
  application:
    name: api-manager-responsibility
  cache:
    type: caffeine
    cache-names: employeeExists
    caffeine:
      spec: expireAfterWrite=5d,maximumSize=3000
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  properties:
    jakarta:
      persistence:
        schema-generation:
          database:
            action: validate
  security:
    oauth2:
      client:
        registration:
          employee:
            authorization-grant-type: client_credentials
            provider: employee
integration:
  employee:
    connect-timeout: 5
    read-timeout: 20